snippet vec
	std::vector<${1:char}> 
snippet set
	std::set<${1:char}> 
snippet mp
	std::make_pair(${1:key},${1:value})
snippet cla
	class ${1:name}{
		public:
			${2:/* pubic */}
		private:
			${3:/* private */}
	};
snippet tryc
	try{
		${1:/* statement */}
	}catch(${2:/* exception */}) {
		${3:/* statement */}
	} 
